/* src/styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    margin: 0;
  }
  
  h1 {
    color: #333;
  }
  
  h3 {
    color: #444;
  }
  
  button {
    padding: 8px 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  input, textarea {
    padding: 8px;
    margin: 10px 0;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #ccc;
  }
  
  input[type="text"] {
    height: 30px;
  }
  
  textarea {
    height: 100px;
  }
  